################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Default3.aspx
/Web.config
/Default3.aspx.cs
